name: isic-yolo
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python>=3.10,<3.12
  - pip
  - pytorch>=2.1
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - pandas
  - matplotlib
  - scikit-image
  - pyyaml
  - pillow
  - pip:
      - ultralytics>=8.2
